<div class="popup">
  <div class="popup-header">
    <p>Verify Code</p>
  </div>
  <div class="popup-body">
      <%= form_for @user do |form| %>
        <%=form.label :admin, "Enter admin key:"%>
        <%=form.password_field :admin, placeholder: "Enter the SECRET ADMIN KEY key sent by email"%>
      <%=form.submit "Key", class:'btn btn-outline-custom my-sm-0'%>
    <%end%>
    <br>
    <br>
    <%=link_to "Close", "#", class: "btn btn-outline-custom my-sm-0", id: "dropdownclose"%>
  </div>
</div>
