<h1 id="title">My Account</h1>
<hr>


<div class="row accountinformation">
  <div class="col-md-4 col-12">
    <p>
      First name:
      <%if @user.first_name.present?%>
      <p class="accountvariables"><%= @user.first_name %></p>
      <%end%>
    </p>
  </div>
  <div class="col-md-4 col-12">
    <p>
      Last name:
      <%if @user.last_name.present?%>
      <p class="accountvariables"><%= @user.last_name %></p>
      <%end%>
    </p>
  </div>
  <div class="col-md-4 col-12">
  <p>
    Alias:
    <%if @user.alias.present?%>
    <p class="accountvariables"><%= @user.alias %></p>
    <%end%>
  </p>
  </div>
  <div class="col-md-4 col-12">
  <p>
    Email:
    <p class="accountvariables"><%= @user.email %></p>
  </p>
  </div>
  <div class="col-md-4 col-12">
  <p>
    Moderator Status :
    <%if @user.user_key != @user.securecode%>
    <p class="accountvariables btn btn-outline-custom my-sm-0 verifybutton-moderator">Verify</p>
    <%end%>
    <%if @user.user_key == @user.securecode%>
    <p class="accountvariables verified">VERIFIED</p>
    <%end%>
  </p>
  </div>
  <div class="col-md-4 col-12">
  <p>
    Admin Status :
    <%if @user.admin.to_s != @user.admin_key.to_s%>
    <p class="accountvariables btn btn-outline-custom my-sm-0 verifybutton-admin">Verify</p>
    <%end%>
    <%if @user.admin.to_s == @user.admin_key.to_s%>
    <p class="accountvariables verified">VERIFIED</p>
    <%end%>
  </p>
  </div>
  <div class="col-md-4 col-12">
  <p>
    <%= link_to 'Edit Account Details', edit_user_path(@user), class: "btn btn-outline-custom my-sm-0"%>
    <%= link_to 'Back', users_path, class: "btn btn-outline-custom my-sm-0" %>
    <%= link_to 'Delete Account', @user, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-outline-custom my-sm-0" %>
  </p>
  </div>
</div>
<%if @user.user_key != @user.securecode%>
  <div class="warning verifybutton" >
    <p>You have not yet activated your account to become a moderator. If you do not wish to upload or contribute you do not need to activate your account. Click here if you wish to activate your account</p>
  </div>
<%else%>
  <div class="verified" >
    <p>You have now registered to be a moderator. You can submit content and help support the GMR page!!!</p>
  </div>
<%end%>
<br>

<div id="dropdown-moderator">
  <%=render "verify_moderator"%>
</div>


<div id="dropdown-admin">
  <%=render "verify_admin"%>
</div>


<br>
<h3>My Resources</h3>
<hr>
<div class="row tableheader">
  <div class="col-10 col-md-4">
    <p>Resource Name</p>
  </div>
  <div class="col-2 col-md-1">
    <p>Views</p>
  </div>
  <div class="col-1 pc-only">
    <%=image_tag('pdf_icon.png', class: 'tableicon')%>
  </div>
  <div class="col-1 pc-only">
    <%=image_tag('word_icon.png', class: 'tableicon')%>
  </div>
  <div class="col-1 pc-only">
    <%=image_tag('pp_icon.png', class: 'tableicon')%>
  </div>
  <div class="col-1 pc-only">
    <%=image_tag('qs_icon.png', class: 'tableicon')%>
  </div>
  <div class="col-1 pc-only">
    <%=image_tag('as_icon.png', class: 'tableicon')%>
  </div>
  <div class="col-1 pc-only">
    <%=image_tag('admin_icon.png', class: 'tableicon')%>
  </div>
  <div class="col-1 pc-only">
    <%=image_tag('cog_icon.png', class: 'tableicon')%>
  </div>
</div>

<%@resources.each do |resource|%>
<div class="row datarow">

  <div class="col-10 col-md-4">
    <%= link_to resource.name, resource %>
  </div>
  <div class="col-2 col-md-1">
    <p class="tick"><%=resource.views.to_s%></p>
  </div>
  <div class="col-1 pc-only">
    <%if resource.cs_pdf.attached?%>
      <p class="tick">✓</p>
    <%end%>
  </div>
  <div class="col-1 pc-only">
    <%if resource.cs_word.attached?%>
      <p class="tick">✓</p>
    <%end%>
  </div>
  <div class="col-1 pc-only">
    <%if resource.pp.attached?%>
      <p class="tick">✓</p>
    <%end%>
  </div>
  <div class="col-1 pc-only">
    <%if resource.question_sheet.attached?%>
      <p class="tick">✓</p>
    <%end%>
  </div>
  <div class="col-1 pc-only">
    <%if resource.answer_sheet.attached?%>
      <p class="tick">✓</p>
    <%end%>
  </div>
  <div class="col-1 pc-only">
    <p class="tick">✓</p>
  </div>
  <div class="col-1 pc-only">
    <p class="tick"><%= link_to 'E', edit_resource_path(resource) %></p>
  </div>
</div>
<%end%>
