<h1 id="title">My Account</h1>
<hr>


<div class="row accountinformation">
  <div class="col-md-4 col-12">
    <p>
      First name:
      <%if @user.first_name.present?%>
      <p class="accountvariables"><%= @user.first_name %></p>
      <%end%>
    </p>
  </div>
  <div class="col-md-4 col-12">
    <p>
      Last name:
      <%if @user.last_name.present?%>
      <p class="accountvariables"><%= @user.last_name %></p>
      <%end%>
    </p>
  </div>
  <div class="col-md-4 col-12">
  <p>
    Alias:
    <%if @user.alias.present?%>
    <p class="accountvariables"><%= @user.alias %></p>
    <%end%>
  </p>
  </div>
  <div class="col-md-4 col-12">
  <p>
    Email:
    <p class="accountvariables"><%= @user.email %></p>
  </p>
  </div>
  <div class="col-md-4 col-12">
  <p>
    Moderator Status :
    <%if @user.user_key != @user.securecode%>
    <p class="accountvariables btn btn-outline-custom my-sm-0 verifybutton">Verify</p>
    <%end%>
    <%if @user.user_key == @user.securecode%>
    <p class="accountvariables verified">VERIFIED</p>
    <%end%>
  </p>
  </div>
  <div class="col-md-4 col-12">
  <p>
    <%= link_to 'Edit Account', edit_user_path(@user), class: "btn btn-outline-custom my-sm-0"%>
    <%= link_to 'Back', users_path, class: "btn btn-outline-custom my-sm-0" %>
  </p>
  </div>
</div>
<%if @user.user_key != @user.securecode%>
  <div class="warning verifybutton" >
    <p>You have not yet activated your account to become a moderator. If you do not wish to upload or contribute you do not need to activate your account. Click here if you wish to activate your account</p>
  </div>
<%else%>
  <div class="verified" >
    <p>You have now registered to be a moderator. You can submit content and help support the GMR page!!!</p>
  </div>
<%end%>
<br>

<div id="dropdown">
  <%=render "verify"%>
</div>
