<div class="jumbotron">
  <div class="jumbotron-title">
    <h1>SEARCH OUR RESOURCES</h1>
  </div>
  <div class="container-searchbar">
    <%= form_with(url: resources_path, method: 'get', local: true, class:'') do |form| %>
      <div class="tenp-space"></div>
      <div class="searchbardiv">
      <%= form.text_field :q, id: 'q', value: params[:q], class: 'form-control mr-sm-2 searchfield', placeholder: "We've got maths on maths on maths..."%>
      </div>
      <div class="tenp-space"></div>
      <div class="searchbuttondiv">
        <div class="filter">
          <%= form.select(:topic, Resource::SEARCHTOPIC_LIST)%>
          <%= form.select(:higher, Resource::SEARCHLEVEL_LIST)%>
        </div>
        <%= form.submit 'Search', class: "btn btn-outline-custom my-sm-0",  type:"submit", role:"group" %>
      </div>
      <div class="tenp-space"></div>
    <%end%>
  </div>
</div>

<div class="row">
  <div class="col-sm-4 col-12 ">
    <div class="frontlist">
      <div class="frontlistheader">
        <h5>GMR Students Struggle with</h5>
      </div>
      <div class="frontlistcontent">
        <div class="row tableheadings">
          <div class="col-8">
            <p>Resource Name</p>
          </div>
          <div class="col-4">
            <p>Votes</p>
          </div>
        </div>
        <%@resources1.each do |resource|%>
        <div class="row frontpagedatarow">
          <div class="col-8">
            <%=link_to resource.name, resource%>
          </div>
          <div class="col-4">
            <%=resource.hard%>
          </div>
        </div>
        <%end%>
      </div>
    </div>
  </div>
  <div class="pad"></div>
  <div class="col-sm-4 col-12 ">
    <div class="frontlist">
      <div class="frontlistheader">
        <h5>GMR Students find easy</h5>
      </div>
      <div class="frontlistcontent">
        <div class="row tableheadings">
          <div class="col-8">
            <p>Resource Name</p>
          </div>
          <div class="col-4">
            <p>Votes</p>
          </div>
        </div>
        <%@resources2.each do |resource|%>
        <div class="row frontpagedatarow">
          <div class="col-8">
            <%=link_to resource.name, resource%>
          </div>
          <div class="col-4">
            <%=resource.easy%>
          </div>
        </div>
        <%end%>
      </div>
    </div>
  </div>
  <div class="pad"></div>
  <div class="col-sm-4 col-12 ">
    <div class="frontlist">
      <div class="frontlistheader">
        <h5>GMR's best content</h5>
      </div>

      <div class="frontlistcontent">
        <div class="row tableheadings">
          <div class="col-8">
            <p>Resource Name</p>
          </div>
          <div class="col-4">
            <p>Votes</p>
          </div>
        </div>
        <%@resources3.each do |resource|%>
        <div class="row frontpagedatarow">
          <div class="col-8">
            <%=link_to resource.name, resource%>
          </div>
          <div class="col-4">
            <%=resource.useful%>
          </div>
        </div>
        <%end%>
      </div>
    </div>
  </div>
</div>
