<%= form_with(model: resource, local: true) do |form| %>
  <% if resource.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(resource.errors.count, "error") %> prohibited this resource from being saved:</h2>

      <ul>
      <% resource.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="row">
    <div class="col-sm-6">
      <div class="field">
        <%= form.label :name %>
        <%= form.text_field :name, class: 'forminput' %>
      </div>

      <div class="field">
        <%= form.label :topic %>
        <%= form.select(:topic, Resource::TOPIC_LIST)%>
      </div>

      <div class="field">
        <%= form.label :higher, "Level" %>
        <%= form.select(:higher, Resource::LEVEL_LIST) %>
      </div>

      <div class="field">
        <%= form.label :video_one, 'Primary Video' %>
        <%= form.text_field :video_one, class: 'forminput'  %>
      </div>


      <div class="field">
        <%= form.label :video_two, 'Secondary Video' %>
        <%= form.text_field :video_two, class: 'forminput'  %>
      </div>
    </div>
    <div class="col-sm-6">

      <div class="field">
        <%= form.label :question_sheet, 'Question Sheet' %>
        <%= form.file_field :question_sheet %>
      </div>

      <div class="field">
        <%= form.label :answer_sheet, 'Answer Sheet' %>
        <%= form.file_field :answer_sheet %>
      </div>

      <div class="field">
        <%= form.label :pp, 'Powerpoint ID' %>
        <%= form.file_field :pp %>
      </div>

      <div class="field">
        <%= form.label :cs_word, 'Cheatsheet Word' %>
        <%= form.file_field :cs_word%>
      </div>

      <div class="field">
        <%= form.label :cs_pdf, 'Cheatsheet PDF' %>
        <%= form.file_field :cs_pdf%>
      </div>


      <div class="actions">
        <%= form.submit %>
      </div>
    </div>
  </div>

<% end %>
