<%@resource.increment!(:views)%>
<%if params[:r]%>
  <%case params[:r]%>
  <%when "easy"%>
    <%@resource.increment!(:easy)%>
  <%when "hard"%>
    <%@resource.increment!(:hard)%>
  <%when "useful"%>
    <%@resource.increment!(:useful)%>
  <%end%>
<%end%>
<p id="notice"><%= notice %></p>
<h2 id="title"><%=@resource.easy%></h2>
<hr>
<div class="row">
  <div class="col-12">
    <%=link_to "Back to topics", resources_path, class:"btn btn-outline-custom my-sm-0 navbuttons"%>
    <%= form_with(url: @resource, method: "get", local: true) do |form| %>
      <%=form.hidden_field :r, value: 'easy'%>
      <%=form.submit "Easy", class:'btn btn-outline-custom my-sm-0 navbuttons', id: "easy"%>
    <%end%>
    <%= form_with(url: @resource, method: "get", local: true) do |form| %>
      <%=form.hidden_field :r, value: 'hard'%>
      <%=form.submit "Hard", class:'btn btn-outline-custom my-sm-0 navbuttons', id: "hard"%>
    <%end%>
    <%= form_with(url: @resource, method: "get", local: true) do |form| %>
      <%=form.hidden_field :r, value: 'useful'%>
      <%=form.submit "Useful", class:' btn btn-outline-custom my-sm-0 navbuttons',id: "useful"%>
    <%end%>
  </div>
</div>
<br>
<br>


<div class="row">

  <%if @horizontal == true%>
  <div class="col-12">
    <style>.youtubevideo {width: 40%; display:inline-block; text-align: center;}
           .videos {text-align: center;}
    </style>
  <%else%>
  <div class="col-sm-6">
  <%end%>
    <h4>Useful Videos</h4>
    <hr>
    <div class="videos">
      <%if @resource.video_one.present?%>
        <iframe class="youtubevideo" src="<%=@resource.video_one%>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <%end%>

      <%if @resource.video_two.present?%>
        <iframe class="youtubevideo" src="<%=@resource.video_two%>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <%end%>
    </div>
  </div>
  <div class="col-sm-6 resourcelinkside">
    <h4>Resources</h4>

    <hr>

    <%if @resource.cs_pdf.attached?%>
      <div class="resourcebutton">
        <%=image_tag('pdf_icon.png', class:"type-icon")%>
        <%= link_to 'Cheatsheet PDF', rails_blob_path(@resource.cs_pdf), target: '_blank' %>
      </div>
      <br>
    <%end%>

    <%if @resource.cs_word.attached?%>
      <div class="resourcebutton">
        <%=image_tag('word_icon.png', class:"type-icon")%>
        <%= link_to 'Cheatsheet Word', rails_blob_path(@resource.cs_word, disposition: 'preview'), target: '_blank' %>
      </div>
      <br>
    <%end%>

    <%if @resource.pp.attached?%>
      <div class="resourcebutton">
        <%=image_tag('pp_icon.png', class:"type-icon")%>
        <%= link_to 'Download Powerpoint', rails_blob_path(@resource.pp, disposition: 'preview'), target: '_blank' %>
      </div>
      <br>
    <%end%>

    <%if @resource.question_sheet.attached?%>
      <div class="resourcebutton">
        <%=image_tag('pdf_icon.png', class:"type-icon")%>
        <%= link_to 'Questions', rails_blob_path(@resource.question_sheet, disposition: 'preview'), target: '_blank' %>
      </div>
      <br>
    <%end%>

    <%if @resource.answer_sheet.attached?%>
      <div class="resourcebutton">
        <%=image_tag('pdf_icon.png', class:"type-icon")%>
        <%= link_to 'Answers', rails_blob_path(@resource.answer_sheet, disposition: 'preview'), target: '_blank' %>
      </div>
      <br>
    <%end%>


  </div>
</div>


<br>
<h4>Resource Information</h4>
<hr>
<div class="row">
  <div class="col-sm-6">
    <p class="timestamps"><strong>Creator</strong>  - Louie Ormston</p>
    <p class="timestamps"><strong>Distribution</strong> - This is a free resource which can be shared and used freely</p>
    <p class="timestamps"><strong>Level</strong> - <%= @resource.higher%></p>
  </div>
  <div class="col-sm-6">
    <p class="timestamps"><strong>Date Of Creation</strong>  - <%=@resource.created_at%></p>
    <p class="timestamps"><strong>Last Updated</strong> - <%=@resource.updated_at%></p>
  </div>
</div>

<%= form_with(url: @resource, method: "get", local: true) do |form| %>
  <%=form.hidden_field :l, value: 'horizontal'%>
  <%=form.submit "Flip the switch", class:'layoutbutton btn btn-outline-custom my-sm-0'%>
<%end%>
<%= link_to 'Edit', edit_resource_path(@resource) %> |
<%= link_to 'Back', resources_path %>
