<p id="notice"><%= notice %></p>

<h1 id="title">Watcha looking for?</h1>
<p id = "searchbarsubtitle">Search hundreds of maths resources all in one place in seconds... For FREE!</p>

<div class="container searchbar">
  <%= form_with(url: resources_path, method: 'get', local: true, class:'form-inline my-2 my-lg-0') do |form| %>
    <%= form.text_field :q, id: 'q', value: params[:q], class: 'form-control mr-sm-2 searchfield'%>
    <%= form.select(:higher, Resource::SEARCHLEVEL_LIST) %>
    <%= form.select(:topic, Resource::SEARCHTOPIC_LIST)%>
    <%= form.submit 'Search', class: "btn btn-outline-custom my-sm-0",  type:"submit", role:"group" %>
  <%end%>
</div>


<div class="row tableheader">
  <div class="col-10 col-md-4">
    <p>Resource Name</p>
  </div>
  <div class="col-2 col-md-1">
    <p>Views</p>
  </div>
  <div class="col-1 pc-only">
    <%=image_tag('pdf_icon.png', class: 'tableicon')%>
  </div>
  <div class="col-1 pc-only">
    <%=image_tag('word_icon.png', class: 'tableicon')%>
  </div>
  <div class="col-1 pc-only">
    <%=image_tag('pp_icon.png', class: 'tableicon')%>
  </div>
  <div class="col-1 pc-only">
    <%=image_tag('qs_icon.png', class: 'tableicon')%>
  </div>
  <div class="col-1 pc-only">
    <%=image_tag('as_icon.png', class: 'tableicon')%>
  </div>
  <div class="col-1 pc-only">
    <%=image_tag('admin_icon.png', class: 'tableicon')%>
  </div>
  <%if current_user.admin == current_user.admin_key%>
    <div class="col-1 pc-only">
      <%=image_tag('cog_icon.png', class: 'tableicon')%>
    </div>
  <%end%>
</div>

<%@resources.each do |resource|%>
<div class="row datarow">

  <div class="col-10 col-md-4">
    <%= link_to resource.name, resource %>
  </div>
  <div class="col-2 col-md-1">
    <p class="tick"><%=resource.views.to_s%></p>
  </div>
  <div class="col-1 pc-only">
    <%if resource.cs_pdf.attached?%>
      <p class="tick">✓</p>
    <%end%>
  </div>
  <div class="col-1 pc-only">
    <%if resource.cs_word.attached?%>
      <p class="tick">✓</p>
    <%end%>
  </div>
  <div class="col-1 pc-only">
    <%if resource.pp.attached?%>
      <p class="tick">✓</p>
    <%end%>
  </div>
  <div class="col-1 pc-only">
    <%if resource.question_sheet.attached?%>
      <p class="tick">✓</p>
    <%end%>
  </div>
  <div class="col-1 pc-only">
    <%if resource.answer_sheet.attached?%>
      <p class="tick">✓</p>
    <%end%>
  </div>
  <div class="col-1 pc-only">
    <p class="tick">✓</p>
  </div>
  <%if user_signed_in?%>
    <%if current_user.admin == current_user.admin_key%>
      <div class="col-1 pc-only">
        <p class="tick"><%= link_to 'E', edit_resource_path(resource) %><%= link_to 'D', resource, method: :delete, data: { confirm: 'Are you sure?' } %></p>
      </div>
    <%end%>
  <%end%>
</div>
<%end%>


<br>
<div class="admin">
  <%= link_to 'New Resource', new_resource_path, class: "btn btn-outline-custom" %>
</div>
